<div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h2>Borang Keahlian JAKSA</h2>
      <p class="lead">Borang ini adalah untuk mendaftar keahlian Jaksa. Sila isi maklumat dengan penuh dan tepat.</p>
</div>
<%= render "form", borang: @borang %>

<br>

