<main class="px-3 text-center">
    <h1>LAMAN WEB KEAHLIAN JAKSA.</h1>
    <p class="lead">Web ini dibangunkan untuk memudahkan pengguna dalam menguruskan keahlian mereka. Ahli perlu mengisi borang dan membuat pembayaran setelah akaun disahkan oleh pentadbir sistem</p>
    <p class="lead">
        <br/>
                <%= link_to 'Daftar Akaun', new_user_registration_path, class: "btn btn-secondary" %>
                <%= link_to 'Log Masuk',  new_user_session_path, class: "btn btn-secondary" %>
            
    </p>
</main>